.contactsSection {
    background-color: #FFD523;
    padding: 40px 0;
    overflow: hidden;
}

.contactsSection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: var(--conteinerWidth);
}

.contactsSection_header {
    font-size: 50px;
}

.contactsGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


