@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

html {
    font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.section {
    padding: 150px 0;
}

a {
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
    max-width: 100%;
}

:root {
  --dark: #000000;
  --gray: #343A40;
  --lightGray: #868686;
  --contrastYellow: #FFD523;
  --containerWidth: 800px;
}